.woocommerce-navigation-site-title {
	padding: 12px;
	display: flex;
	align-items: center;
	text-decoration: none;
	font-weight: 600;
	color: $gray-400;
	margin-bottom: 16px;

	&:hover,
	&:focus,
	&:active {
		color: $gray-200;
	}

	svg {
		margin-right: 12px;
		path {
			stroke: #fff;
		}
	}
}
