@import '_variables.scss';

@mixin sidebar-scheme($color) {
	--wp-admin-sidebar-color: #{$color};
}

body.admin-color-coffee {
	@include sidebar-scheme(#59524c);
	.woocommerce-navigation {
		background: var(--wp-admin-sidebar-color);
	}
}

.woocommerce-navigation {
	color: initial;
	position: fixed;
	top: $admin-bar-height;
	left: 0;
	width: 160px;
	height: 100%;
	background: #23282d;
}

.woocommerce-navigation__menu-item {
	padding: $gap-smaller 0;
}

.has-woocommerce-navigation {
	#adminmenuwrap,
	#adminmenuback {
		display: none !important;
	}
}
