@import 'node_modules/@wordpress/base-styles/colors';
@import 'node_modules/@wordpress/base-styles/variables';
@import 'node_modules/@wordpress/base-styles/mixins';
@import 'node_modules/@wordpress/base-styles/breakpoints';
@import 'node_modules/@wordpress/base-styles/animations';
@import 'node_modules/@wordpress/base-styles/z-index';
@import '_variables.scss';
@import '_mixins.scss';

.woocommerce-navigation {
	color: initial;
	position: fixed;
	top: $admin-bar-height;
	left: 0;
	width: 160px;
	height: 100%;
	background: var(--wp-admin-sidebar-color);
}

.woocommerce-navigation__menu-item {
	padding: $gap-smaller 0;
}

.has-woocommerce-navigation {
	#adminmenuwrap,
	#adminmenuback {
		display: none !important;
	}
}

.toplevel_page_woocommerce ul.wp-submenu {
	display: none;
}
